{% extends 'contracts/base.html' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Nombre de contrats</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ contracts|length }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Moyenne des délais</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Lieu (majoritaire)
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Type de marchés (majoritaire)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des Contrats/Marchés </h1>
        <p class="mb-4">Cette liste ressort l'ensemble des contrats de la base de données pour l'exercice courant</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="col-sm-6">

                </div>

                <div class="col-sm-3">
                    <a href="{% url 'contract-create' %}" class="btn btn-primary btn-block">Ajouter un nouveau Contrat/Marché</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Objet</th>
                                <th>Lieu</th>
                                <th>Lot</th>
                                <th>Délai</th>
                                <th>Signé le</th>
                                <th>Suivi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Numéro</th>
                                <th>Objet</th>
                                <th>Lieu</th>
                                <th>Lot</th>
                                <th>Délai</th>
                                <th>Signé le</th>
                                <th>Suivi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                                {% for contract in contracts %}
                                <tr>
                                    <td><a href="{% url 'contract-detail' contract.id %}">{{ contract.numero }} </a> </td>
                                    <td>{{ contract.object }}</td>
                                    <td>{{ contract.lieuLivraison }}</td>
                                    <td>{{ contract.numLot }}</td>
                                    <td>{{ contract.delays }}</td>
                                    <td>{{ contract.datSignaMoa }}</td>
                                    <td>
                                        <a href="{% url 'follow-tech-contract' contract.id %}" class="btn btn-info btn-icon-split">
                                            <span class="icon text-gray-100">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text">Technique</span>
                                        </a>
                                        <a href="{% url 'follow-tech-contract' contract.id %}" class="btn btn-light btn-icon-split">
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="text">Financier</span>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}